# Wymagane przez plugin kompilatora `lombok` w kotlin-maven-plugin.
# kotlinc leci PRZED javac i nie uruchamia annotation processorow, wiec sam z siebie
# nie widzi getterow/setterow/builderow generowanych przez Lomboka w plikach .java.
# Plugin `lombok` czyta te adnotacje samodzielnie, ale wymaga oznaczania wygenerowanego
# kodu adnotacja @lombok.Generated:
lombok.addLombokGeneratedAnnotation = true

# To jest katalog glowny konfiguracji Lomboka - nie szukaj wyzej.
config.stopBubbling = true
